


body {
    background-image: linear-gradient(to right, #e4afcb 0%, 
    #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.create-li-btn {
    margin-top: 5px;
}

#input-field {
    margin-top: 20px;
}

.card {
    margin-top: 30px;
    background: #e6eda3;
}

.list-group-item {
    background: #fcffdb;
}

.container {
    max-width: 600px;
}

.text { 
    display: inline;
}

.delete-button {
    display: inline;
}



